include LICENSE
include pyproject.toml
include setup.cfg
include setup.py

include *.md

recursive-include config *.config
recursive-include docs *.md *.png
recursive-include input *.ods
recursive-include src *.ods
recursive-include tests *.py
