include LICENSE
include pyproject.toml
include setup.cfg
include setup.py

include *.md

recursive-include config *.ini
recursive-include docs *.md *.png
recursive-include input *.ods
recursive-include src *.ods *.txt *.mo *.po *.pot
recursive-include tests *.py
