{
    "in_header": {
        "timestamp": 0,
        "asset": 6,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 5,
        "spot_price": 8,
        "crypto_in": 7,
        "crypto_fee": 9,
        "notes": 10
    },

    "out_header": {
        "timestamp": 0,
        "asset": 6,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 5,
        "spot_price": 8,
        "crypto_out_no_fee": 7,
        "crypto_fee": 9,
        "notes": 10
    },

    "intra_header": {
        "timestamp": 0,
        "asset": 6,
        "from_exchange": 1,
        "from_holder": 2,
        "to_exchange": 3,
        "to_holder": 4,
        "spot_price": 8,
        "crypto_sent": 7,
        "crypto_received": 8,
        "notes": 10
    },

    "assets": [
        "B1",
        "B2",
        "B3",
        "B4"
    ],
    "exchanges": [
        "BlockFi",
        "Coinbase",
        "Coinbase Pro",
        "Kraken"
    ],
    "holders": [
        "Bob",
        "Alice"
    ]
}
