{
    "in_header": {
        "timestamp": 0,
        "asset": 6,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 5,
        "spot_price": 8,
        "crypto_in": 7,
        "fiat_fee": 11,
        "fiat_in_no_fee": 9,
        "fiat_in_with_fee": 10,
        "notes": 12
    },

    "out_header": {
        "timestamp": 0,
        "asset": 6,
        "exchange": 1,
        "holder": 2,
        "transaction_type": 5,
        "spot_price": 8,
        "crypto_out_no_fee": 7,
        "crypto_fee": 9,
        "notes": 12
    },

    "intra_header": {
        "timestamp": 0,
        "asset": 6,
        "from_exchange": 1,
        "from_holder": 2,
        "to_exchange": 3,
        "to_holder": 4,
        "spot_price": 8,
        "crypto_sent": 7,
        "crypto_received": 10,
        "notes": 12
    },

    "assets": [
        "BTC",
        "ETH",
        "B1",
        "B2",
        "B3",
        "B4",
        "B5",
        "B6",
        "B7",
        "B8",
        "B9",
        "B10",
        "B11",
        "B12",
        "B13",
        "B14",
        "B15",
        "B16",
        "B17",
        "B18",
        "B19",
        "B20",
        "B21",
        "B22",
        "B23",
        "B24",
        "B25",
        "B26",
        "B27",
        "B28",
        "B29",
        "B30",
        "B31",
        "B32",
        "B33",
        "B34",
        "B35",
        "B36"
    ],
    "exchanges": [
        "BlockFi",
        "Coinbase",
        "Coinbase Pro",
        "Kraken"
    ],
    "holders": [
        "Bob",
        "Alice"
    ]
}
