{
    "in_header": {
        "timestamp": 0,
        "asset": 1,
        "exchange": 2,
        "holder": 3,
        "transaction_type": 4,
        "spot_price": 5,
        "crypto_in": 6,
        "fiat_fee": 7,
        "notes": 8
    },

    "out_header": {
        "timestamp": 0,
        "asset": 1,
        "exchange": 2,
        "holder": 3,
        "transaction_type": 4,
        "spot_price": 5,
        "crypto_out_no_fee": 6,
        "crypto_fee": 7,
        "notes": 8
    },

    "intra_header": {
        "timestamp": 0,
        "asset": 1,
        "from_exchange": 3,
        "from_holder": 4,
        "to_exchange": 5,
        "to_holder": 4,
        "spot_price": 6,
        "crypto_sent": 7,
        "crypto_received": 8,
        "notes": 9
    },

    "assets": [
        "B1"
    ],
    "exchanges": [
        "Coinbase",
        "Kraken"
    ],
    "holders": [
        "Bob",
        "Alice"
    ]
}
