name: Documentation Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  markdown-link-check:
    name: Check markdown links
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          # Check all markdown files recursively
          args: --config lychee.toml --verbose --no-progress './**/*.md'
          # Fail the job if broken links are found
          fail: true
